{%extends 'base.html'%}
{% block content%}

<div class="container " >
    <div class="row" style="justify-content: center; ">
        <div class="col-md-6" style="background-color:aqua; border-radius: 15px;">
            <h3>Photo Album</h3>
            <p>This is a personal photo album application that will display  pictures of different categories for others to see.It shows pictures based on the categories. <br> 
                A user can also add his or her photos</p>

        </div>
    </div>
</div>
{% endblock %}