{%extends 'base.html'%}
{% block content %}
{{block.super}}
<div class="container" style="background-color:aquamarine;">
    <div class="row">
        <div class="col-md-3" >
            <div class="card my-2">
                <div class="card-header ">
                     Categories
                </div>
                <ul class="list-group list-group-flush">
                    <!-- <li class="list-group-item">
                       <a href="{% url 'gallery' %}">All Categories</a> 
                    </li> -->
                    {% for category in categories %}
                    <li class="list-group-item">
                        <a href="{% url 'gallery' %}?category={{category.category_name}}">
                            {{category.category_name}}
                            {{category.location_name}}
                        </a>
                    </li>
                    {%endfor%}         
                </ul>
            </div>
        </div>
        <style>
            .image-thumbail{
               height: 150px; 
               width: 150px;
               overflow: cover;
            }
        </style>

        <div class="col-md-9  col-sm-9 col-md-4 col-lg-9">
            <div class="row">
                {% for photo in photos %}
                <div class=" col-sm-4 col-md-4 col-lg-4">
                    <div class="card my-2 ">
                        <a style="text-decoration: none;" href="{%url 'photo' photo.id %}" class="btn btn-outline-light btn-sm m-1">
                            <img class="image-thumbail"src="{{ photo.image.url}}"height="100%" width="100%" alt="None"></a>
      
                        <div class="card-body">
                            <small>Category:{{photo.category.category_name}}</small>
                        </div>
                            <a href="{% url 'photo'  photo.id %}"class="btn btn-outline-light badge-dark"style="justify-content: center;">View Photo</a>   
                    </div>
                </div>
                {% empty %}
                <h1>No photos Uploaded...</h1>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
