{%extends 'base.html'%}
{% block content%}
<div class="container">
    <div class="row ">
        <div class="col-md-4">
            {% if category_name%}
            <h2>Found {{ category_name|length }} of searched term {{message}}</h2>
            {% else %}
            <h2> Found 0 categories for the search term {{message}}</h2>
            {% endif %}
        </div>


        {% if category_name%}
        {% for category in categories %}
        <div class="col-sm-6 col-md-4">
            <small>Category:{{category.category_name}}</small>
            <h1>{{category.category_name}}</h1>
        </div>
        {%endfor%}
        {% endif %}
    </div>
</div>

{% endblock %}